@using FallLady.Mood.Domain.Enums;
@using FallLady.Mood.Utility.Extentions.Datetime;
@{
    ViewData["Title"] = "دوره های خریداری شده";
    Layout = "_UserProfileLayout";
}
@model List<FallLady.Mood.Application.Contract.Dto.Orders.OrderListDto>
<style>
    .img-rounded {
        border-radius: 1rem;
        height: 90px;
        width: 90px;
        margin-top: 5px;
    }
</style>
<div class="container">
    <div class="col-12">
        <div class="d-flex items-center justify-between bg-info-1 pl-30 pr-20 py-30 rounded-8">
            <div class="text-info-2 lh-1 fw-500">برای مشاهده جزئیات هر دوره بر روی آن کلیک کنید</div>
        </div>
    </div>
    <br />
    <div class="accordion -block js-accordion">

        @foreach (var item in Model)
        {
            if (item.Course.CourseType == CourseTypeEnum.Offline)
            {
                <div class="accordion__item bg-light-4">
                    <div class="accordion__button">
                        <div class="accordion__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus icon"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                        <img src="@item.Course.FilePath" class="img-rounded" />
                        <span class="text-16 fw-500 text-dark-1">@item.Course.Title</span>
                    </div>

                    <div class="accordion__content">
                        <div class="accordion__content__inner text-right">
                            <ul class="edu_list right">
                                <li>
                                    <span>
                                        <img src="~/Content/svgs/person_pin.svg" class="menu-icon" />
                                    </span>مدرس:<strong>@item.Course.TeacherName</strong>
                                </li>
                                <li>
                                    <span>
                                        <img src="~/Content/svgs/wb_sunny.svg" class="menu-icon" />
                                    </span>روز های برگزاری دوره:<strong>@item.Course.EventDays</strong>
                                </li>
                                <li>
                                    <span>
                                        <img src="~/Content/svgs/calendar-2-1.svg" class="menu-icon" />
                                    </span>تاریخ برگزاری:<strong>از @item.Course.FromDate.AsDateTime().ToFa() تا @item.Course.ToDate.AsDateTime().ToFa()</strong>
                                </li>
                                <li>
                                    <span>
                                        <img src="~/Content/svgs/time-clock-1.svg" class="menu-icon" />
                                    </span>ساعات:<strong>از ساعت @item.Course.FromTime.Value.ToString(@"HH:mm") الی @item.Course.ToTime.Value.ToString(@"HH:mm")</strong>
                                </li>
                                <li>
                                    <span>
                                        <img src="~/Content/svgs/location_on.svg" class="menu-icon" />
                                    </span>محل برگزاری:<strong>@item.Course.EventAddress</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="accordion__item bg-light-4">
                    <div class="accordion__button">
                        <div class="accordion__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus icon"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                        <img src="@item.Course.FilePath" class="img-rounded" />
                        <span class="text-16 fw-500 text-dark-1 pr-1">@item.Course.Title</span>
                    </div>

                    <div class="accordion__content">
                        <div class="accordion__content__inner text-right">
                            <br>
                            <div class="w-full p-4 text-sm text-left break-words text-navy-dark rounded-2xl bg-dim" id="LicenseKey">
                                @item.LicenseKey
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>