@using FallLady.Mood.Utility.Extentions;
@{
    Random rnd = new Random();
}
@model List<FallLady.Mood.Application.Contract.Dto.Course.CourseListDto>

<section class="layout-pt-md layout-pb-lg">
    <div data-anim-wrap class="container">
        <div class="row justify-center text-center">
            <div class="col-auto">

                <div class="sectionTitle ">

                    <h2 class="sectionTitle__title ">محبوب ترین دوره ها</h2>

                </div>

            </div>
        </div>

        <div class="tabs -pills pt-50 js-tabs">
            <div class="tabs__content pt-60 js-tabs-content">

                <div class="tabs__pane -tab-item-1 is-active">
                    <div class="row y-gap-30 justify-center">


                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div data-anim-child="slide-up delay-1">

                                    <a href="/CourseDetails?courseId=@item.Id" class="coursesCard -type-1 ">
                                        <div class="relative">
                                            <div class="coursesCard__image overflow-hidden rounded-8">
                                                <img class="w-1/1" style="aspect-ratio:1/1" src="@item.FilePath" alt="image">
                                                <div class="coursesCard__image_overlay rounded-8"></div>
                                            </div>
                                            <div class="d-flex justify-between py-10 px-10 absolute-full-center z-3">
                                            </div>
                                        </div>

                                        <div class="h-100 pt-15">

                                            <div class="text-17 lh-15 fw-500 text-dark-1 mt-10">@item.Title</div>

                                            <div class="coursesCard-footer">
                                                <div class="coursesCard-footer__author">
                                                    <img src="@item.TeacherFilePath" alt="image">
                                                    <div>@item.TeacherName</div>
                                                </div>

                                                <div class="coursesCard-footer__price">
                                                    @if(item.DiscountPrice > 0)
                                                    {
                                                        <div>@item.DiscountPrice</div>
                                                        <div>@((item.Price - item.DiscountPrice.Value).Separate3Digits()) تومان</div>
                                                    }
                                                    else
                                                    {
                                                        <div></div>
                                                        <div>@item.Price.Separate3Digits() تومان</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
