@using FallLady.Mood.Utility.Extentions;
@using FallLady.Mood.Utility.Extentions.Datetime;
@{
    ViewData["Title"] = Model.Title;
}
@model FallLady.Mood.Application.Contract.Dto.Course.CourseDetailsDto

<div class="content-wrapper  js-content-wrapper">

    <section data-anim="fade" class="breadcrumbs is-in-view">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="breadcrumbs__content">

                        <div class="breadcrumbs__item">
                            <a href="#">صفحه اصلی</a>
                        </div>

                        <div class="breadcrumbs__item">
                            <a href="#">جزئیات دوره</a>
                        </div>

                        <div class="breadcrumbs__item">
                            <a href="#">@Model.Title</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="js-pin-container course-details">
        <input asp-for="CourseId" hidden />
        <section class="page-header -type-6">
            <div class="page-header__bg bg-purple-1"></div>
            <div class="container">
                <div class="page-header__content">
                    <div class="row y-gap-30 relative" style="">
                        <div class="col-xl-7 col-lg-8">
                            <div class="d-flex x-gap-15 y-gap-10 pb-20">
                                @foreach (var item in Model.Tags)
                                {
                                    <div>
                                        <div class="badge px-15 py-8 text-11 bg-blue-1 text-white fw-400">@item</div>
                                    </div>
                                }
                            </div>

                            <div data-anim="slide-up delay-1" class="is-in-view">
                                <h1 class="text-30 lh-14 text-white pl-60 lg:pl-0 ff-estedad">@Model.Title</h1>
                            </div>

                            <p class="col-xl-9 mt-20 text-white">@Model.ShortDescription</p>

                            <div class="d-flex x-gap-30 y-gap-10 items-center flex-wrap pt-20">


                                <div class="d-flex items-center text-white">
                                    <div class="icon icon-person-3 text-13"></div>
                                    <div class="text-14 mr-8">853 نفر در این دوره ثبت نام کردند</div>
                                </div>

                                <div class="d-flex items-center text-white">
                                    <div class="icon icon-wall-clock text-13"></div>
                                    <div class="text-14 mr-8">تاریخ انتشار @Model.CreatedOn.ToFa("D")</div>
                                </div>

                            </div>

                            <div class="d-flex items-center pt-20">
                                <img class="bg-image size-30 rounded-full js-lazy loaded" data-ll-status="loaded" src="@Model.TeacherFilePath"/>
                                <div class="text-14 lh-1 mr-10 text-white">@Model.TeacherName</div>
                            </div>
                        </div>

                        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer" style="inset: 0px auto auto 0px; margin: 0px; display: block; position: absolute; box-sizing: content-box; width: 360px; height: 777.391px;">
                            <div class="courses-single-info js-pin-content" style="position: absolute; margin: auto; inset: auto;">
                                <div class="bg-white shadow-2 rounded-8 border-light py-10 px-10">
                                    <div class="relative">
                                        <img class="w-1/1" src="@Model.FilePath" alt="image">
                                    </div>

                                    <div class="courses-single-info__content scroll-bar-1 pt-30 pb-20 px-20">
                                        <div class="d-flex justify-between items-center mb-30">
                                            <div class="text-24 lh-1 text-dark-1 fw-500">@(Model.DiscountPrice is null ? Model.Price.Separate3Digits() : (Model.Price - Model.DiscountPrice.Value).Separate3Digits()) تومان</div>
                                            @if (Model.DiscountPrice > 0)
                                            {
                                            <div class="lh-1 line-through">@(Model.DiscountPrice is null ? "" : Model.DiscountPrice.Value.Separate3Digits()) تومان</div>                                                
                                            }
                                        </div>

                                        <button class="button -md -purple-1 text-white w-1/1 btn-addToCart" data-url="@Url.Action("AddOrder","Order")">افزودن به سبد</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="layout-pt-md layout-pb-md">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="page-nav-menu -line">
                            <div class="d-flex x-gap-30">
                                <div><a href="#overview" class="pb-12 page-nav-menu__link js-scroll-to-id is-active">توضیحات</a></div>
                            </div>
                        </div>

                        <div id="overview" class="pt-60 lg:pt-40 to-over">
                            <h4 class="text-18 fw-500 ff-estedad">توضیحات</h4>
                            <div class="mt-60">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>