@using FallLady.Mood.Domain.Enums;
@using FallLady.Mood.Utility.Extentions;
@{
    if (ViewBag.CourseType == CourseTypeEnum.Online)
    {
        ViewData["Title"] = "دوره های مجازی";
    }
    else
    {
        ViewData["Title"] = "دوره های حضوری";
    }
}
@model List<FallLady.Mood.Application.Contract.Dto.Course.CourseListDto>

<div class="content-wrapper  js-content-wrapper">

    <section data-anim="fade" class="breadcrumbs is-in-view">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="breadcrumbs__content">

                        <div class="breadcrumbs__item ">
                            <a href="#">صفحه اصلی</a>
                        </div>

                        <div class="breadcrumbs__item ">
                            <a href="#">لیست دوره ها</a>
                        </div>

                        <div class="breadcrumbs__item ">
                            <a href="#">برنامه نویسی</a>
                        </div>
                        @if (ViewBag.CourseType == CourseTypeEnum.Online)
                        {
                            <div class="breadcrumbs__item ">
                                <a href="#">دوره های مجازی</a>
                            </div>
                        }
                        else
                        {
                            <div class="breadcrumbs__item ">
                                <a href="#">دوره های حضوری</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="page-header -type-1">
        <div class="container">
            <div class="page-header__content">
                <div class="row">
                    <div class="col-auto">
                        <div data-anim="slide-up delay-1" class="is-in-view">

                            <h1 class="page-header__title ff-estedad">لیست دوره ها</h1>

                        </div>

                        <div data-anim="slide-up delay-2" class="is-in-view">

                            <p class="page-header__text">با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="layout-pt-md layout-pb-md">
        <div data-anim="slide-up delay-2" class="container is-in-view">
            <div class="row y-gap-60">

                @foreach (var item in Model)
                {
                    <div class="col-12 border-bottom-light">
                        <a href="/CourseDetails?courseId=@item.Id" class="coursesCard -type-1 row y-gap-20 flex-row items-center">
                            <div class="col-xl-3 col-lg-4">
                                <div class="coursesCard__image rounded-8 relative">
                                    <img class="w-1/1 rounded-8" src="@item.FilePath" alt="image">
                                    <div class="coursesCard__image_overlay rounded-8"></div>
                                </div>
                            </div>

                            <div class="col">

                                <div class="col-xl-7 text-17 lh-15 fw-500 text-dark-1 mt-10">@item.Title</div>

                                <div class="row x-gap-10 y-gap-10 items-center pt-10">
                                    <div class="col-auto">
                                        <div class="d-flex items-center">
                                            <img src="@item.TeacherFilePath" alt="rounded" style="width: 35px;height: 35px;border-radius: 2rem;">
                                            <div class="mr-10">@item.TeacherName</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row x-gap-10 y-gap-10 items-center pt-10">


                                    @foreach (var tag in item.Tags)
                                    {
                                        <div class="col-auto">
                                            <div class="badge -sm -light-3 text-11 text-dark-1">@tag</div>
                                        </div>
                                    }

                                </div>
                            </div>

                            <div class="col-auto md:d-none">
                                <div class="line -vertical -h-120 bg-light-5 ml-60 lg:ml-20 md:ml-0"></div>
                            </div>

                            <div class="col-md-auto">
                                <div class="text-right md:text-left">
                                    <div class="text-15 lh-1 fw-500 line-through">@(item.DiscountPrice is null ? "" : item.DiscountPrice.Value.Separate3Digits())</div>
                                    <div class="text-24 lh-1 fw-500 text-dark-1 mt-10">@(item.DiscountPrice is null ? item.Price.Separate3Digits() : (item.Price - item.DiscountPrice.Value).Separate3Digits()) تومان</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </section>
</div>